<!DOCTYPE HTML>
<html>

<head>
    <title>My Portfolio</title>
    <!-- Optional theme -->
    <link href="{{ url_for('static', filename = 'styles/bootstrap.css') }}" rel="stylesheet">
    <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
    <script src="{{ url_for('static', filename = 'js/jquery.min.js') }}"></script>
    <!-- Custom Theme files -->
    <link href="{{ url_for('static', filename = 'styles/style.css') }}" rel='stylesheet' type='text/css' />
    <link href="{{ url_for('static', filename = 'styles/new.css') }}" rel='stylesheet' type='text/css' />
    <!-- Custom Theme files -->
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <!-- webfonts -->
    <link href='//fonts.googleapis.com/css?family=Asap:400,700,400italic' rel='stylesheet' type='text/css'>
    <link href='//fonts.googleapis.com/css?family=Open+Sans:400,300,600' rel='stylesheet' type='text/css'>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <!-- webfonts -->


    <!-- Latest compiled and minified JavaScript -->
    <script src="{{ url_for('static', filename = 'js/bootstrap.js') }}" crossorigin="anonymous"></script>
    <!---- start-smoth-scrolling---->
    <script type="text/javascript" src="{{ url_for('static', filename = 'js/move-top.js') }}"></script>
    <script type="text/javascript" src="{{ url_for('static', filename = 'js/easing.js') }}"></script>
    <script type="text/javascript">
        jQuery(document).ready(function ($) {
            $(".scroll").click(function (event) {
                event.preventDefault();
                $('html,body').animate({ scrollTop: $(this.hash).offset().top }, 1000);
            });
        });
    </script>
</head>

<body>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>

    <body>
        <!-- container -->
        <!-- header -->
        <div id="home" class="header">
            <div class="container">
                <!-- top-hedader -->
                <div class="top-header">
                    <!-- /logo -->
                    <!--top-nav---->
                    <div class="top-nav">
                        <div class="navigation">
                            <div class="logo">
                                <h1><a href="index.html"><span>P</span>REFACE</a></h1>
                            </div>
                            <div class="navigation-right">
                                <span class="menu"><img src="{{ url_for('static', filename = 'images/menu.png') }}" alt=" " /></span>
                                <nav class="link-effect-3" id="link-effect-3">
                                    <ul class="nav1 nav nav-wil">
                                        <li class="active"><a data-hover="Home" href="index.html">Home</a></li>
                                        <li><a class="scroll" data-hover="About" href="#about">About</a></li>
                                        <li><a class="scroll" data-hover="Services" href="#services">Services</a></li>
                                        <li><a class="scroll" data-hover="Experience" href="#work">Experience</a></li>
                                        <li><a data-hover="Projects" href="/projects/facial_recognition">Projects</a></li>
                                        <li><a class="scroll" data-hover="Contact" href="#contact">Contact</a></li>
                                    </ul>
                                </nav>
                                <!-- script-for-menu -->
                                <script>
                                    $("span.menu").click(function () {
                                        $("ul.nav1").slideToggle(300, function () {
                                            // Animation complete.
                                        });
                                    });
                                </script>
                                <!-- /script-for-menu -->
                            </div>
                            <div class="clearfix"></div>
                        </div>
                        <!-- /top-hedader -->
                    </div>
                    <div class="banner-info">
                        <div class="col-md-7 header-right">
                            <h5>SOFTWARE DEVELOPER </h5>
                            <h6>FULL TIME STUDENT</h6>
                            <ul class="address">

                                <li>
                                    <ul class="address-text">
                                        <li><b>NAME</b></li>
                                        <li>Amir Sotoodeh</li>
                                    </ul>
                                </li>
                                <li>
                                    <ul class="address-text">
                                        <li><b>PHONE </b></li>
                                        <li>(626) 361 - 8141</li>
                                    </ul>
                                </li>
                                <li>
                                    <ul class="address-text">
                                        <li><b>LOCATION </b></li>
                                        <li>Los Angeles, CA</li>
                                    </ul>
                                </li>
                                <li>
                                    <ul class="address-text">
                                        <li><b>E-MAIL </b></li>
                                        <li><a href="mailto:aasotoodeh@cpp.edu"> aasotoodeh@cpp.edu</a></li>
                                    </ul>
                                </li>
                                <li>
                                    <ul class="address-text">
                                        <li><b>GITHUB </b></li>
                                        <li><a href="https://github.com/excisionhd">github.com/excisionhd</a></li>
                                    </ul>
                                </li>
                                <li>
                                    <ul class="address-text">
                                        <li><b>LINKEDIN </b></li>
                                        <li><a href="www.linkedin.com/in/amir-sotoodeh">linkedin.com/in/amir-sotoodeh</a></li>
                                    </ul>
                                </li>
                                <br />

                            </ul>
                        </div>
                        <div class="col-md-5 header-left">
                            <img id='headshot' src="{{ url_for('static', filename = 'images/img1.jpg') }}" alt="">
                        </div>
                        <div class="clearfix"> </div>

                    </div>
                </div>
            </div>
        </div>
        <!-- about -->
        <div id="about" class="about">
            <div class="col-md-6 about-left">
                <div>
                    <div class="item">
                        <div class="about-left-grid">
                            <h2>Hi! I'm <span>Amir Sotoodeh</span></h2>
                            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor
                                incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud
                                exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure
                                dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur.
                                Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt
                                mollit anim id est laborum. Sed ut perspiciatis.</p>
                            <ul>
                                <li><a class="a-btn-a scroll" href="#port">My Work</a></li>
                                <li><a class="a-btn-h scroll" href="#contact">Hire Me</a></li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="clearfix"> </div>
        </div>
        <!-- /about -->
        <!-- services -->
        <div id="services" class="services">
            <div class="container">
                <!---728x90--->

                <div class="service-head one text-center ">
                    <h4>WHAT I DO</h4>
                    <h3>MY <span>SERVICES</span></h3>
                    <span class="border two"></span>
                </div>
                <!-- services-grids -->
                <div class="wthree_about_right_grids w3l-agile">
                    <div class="col-md-6 wthree_about_right_grid">
                        <div class="col-xs-4 wthree_about_right_grid_left">
                            <div class="hvr-rectangle-in">
                                <i class="glyphicon glyphicon-pencil"></i>
                            </div>
                        </div>
                        <div class="col-xs-8 wthree_about_right_grid_right">
                            <h4>Web Design</h4>
                            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor
                                incididunt ut labore et dolore magna aliqua. Ut enim.</p>
                        </div>
                        <div class="clearfix"> </div>
                    </div>
                    <div class="col-md-6 wthree_about_right_grid">
                        <div class="col-xs-4 wthree_about_right_grid_left">
                            <div class="hvr-rectangle-in">
                                <i class="glyphicon glyphicon-cog"></i>
                            </div>
                        </div>
                        <div class="col-xs-8 wthree_about_right_grid_right">
                            <h4>Web Design</h4>
                            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor
                                incididunt ut labore et dolore magna aliqua. Ut enim.</p>
                        </div>
                        <div class="clearfix"> </div>
                    </div>
                    <div class="col-md-6 wthree_about_right_grid">
                        <div class="col-xs-4 wthree_about_right_grid_left">
                            <div class="hvr-rectangle-in">
                                <i class="glyphicon glyphicon-leaf"></i>
                            </div>
                        </div>
                        <div class="col-xs-8 wthree_about_right_grid_right">
                            <h4>Web Design</h4>
                            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor
                                incididunt ut labore et dolore magna aliqua. Ut enim.</p>
                        </div>
                        <div class="clearfix"> </div>
                    </div>
                    <div class="col-md-6 wthree_about_right_grid">
                        <div class="col-xs-4 wthree_about_right_grid_left">
                            <div class="hvr-rectangle-in">
                                <i class="glyphicon glyphicon-gift"></i>
                            </div>
                        </div>
                        <div class="col-xs-8 wthree_about_right_grid_right">
                            <h4>Web Design</h4>
                            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor
                                incididunt ut labore et dolore magna aliqua. Ut enim.</p>
                        </div>
                        <div class="clearfix"> </div>
                    </div>
                    <div class="clearfix"> </div>
                </div>

                <!-- services-grids -->
                <!---728x90--->

            </div>
        </div>
        <!-- services -->
        <!--work-experience-->
        <div id="work" class="work">
            <div class="container">
                <div class="service-head text-center">
                    <h4>WHAT I DID</h4>
                    <h3>MY <span>EXPERIENCE</span></h3>
                    <span class="border one"></span>
                </div>
                <div class="time-main w3l-agile">
                    <div class="col-md-6 year-info">
                        <ul class="year">
                            <li>2016</li>
                            <li>2015</li>
                            <li>2014</li>
                            <li>2013</li>
                            <li>2012</li>
                            <div class="clearfix"></div>
                        </ul>
                    </div>
                    <ul class="col-md-6 timeline">
                        <li>
                            <div class="timeline-badge info"><i class="glyphicon glyphicon-briefcase"></i></div>
                            <div class="timeline-panel">
                                <div class="timeline-heading">
                                    <h4 class="timeline-title">COMPANY NAME</h4>
                                </div>
                                <div class="timeline-body">
                                    <p>Lorem ipsum dolor sit amet.Itaque earum rerum hic tenetur a sapiente delectus,
                                        ut aut reiciendis voluptatibus maiores alias consequatur aut perferendis
                                        doloribus </p>
                                </div>
                            </div>
                        </li>

                        <li>
                            <div class="timeline-badge primary"><i class="glyphicon glyphicon-briefcase"></i></div>
                            <div class="timeline-panel">
                                <div class="timeline-heading">
                                    <h4 class="timeline-title">COMPANY NAME</h4>
                                </div>
                                <div class="timeline-body">
                                    <p>Lorem ipsum dolor sit amet.Itaque earum rerum hic tenetur a sapiente delectus,
                                        ut aut reiciendis voluptatibus maiores alias consequatur aut perferendis
                                        doloribus </p>
                                </div>
                            </div>
                        </li>



                        <li>
                            <div class="timeline-badge danger"><i class="glyphicon glyphicon-briefcase"></i></div>
                            <div class="timeline-panel">
                                <div class="timeline-heading">
                                    <h4 class="timeline-title">COMPANY NAME</h4>
                                </div>
                                <div class="timeline-body">
                                    <p>Lorem ipsum dolor sit amet.Itaque earum rerum hic tenetur a sapiente delectus,
                                        ut aut reiciendis voluptatibus maiores alias consequatur aut perferendis
                                        doloribus </p>
                                </div>
                            </div>
                        </li>

                        <li>
                            <div class="timeline-badge success"><i class="glyphicon glyphicon-briefcase"></i></div>
                            <div class="timeline-panel">
                                <div class="timeline-heading">
                                    <h4 class="timeline-title">COMPANY NAME</h4>
                                </div>
                                <div class="timeline-body">
                                    <p>Lorem ipsum dolor sit amet.Itaque earum rerum hic tenetur a sapiente delectus,
                                        ut aut reiciendis voluptatibus maiores alias consequatur aut perferendis
                                        doloribus </p>
                                </div>
                            </div>
                        </li>
                        <li>
                            <div class="timeline-badge pass"><i class="glyphicon glyphicon-briefcase"></i></div>
                            <div class="timeline-panel">
                                <div class="timeline-heading">
                                    <h4 class="timeline-title">COMPANY NAME</h4>
                                </div>
                                <div class="timeline-body">
                                    <p>Lorem ipsum dolor sit amet.Itaque earum rerum hic tenetur a sapiente delectus,
                                        ut aut reiciendis voluptatibus maiores alias consequatur aut perferendis
                                        doloribus </p>
                                </div>
                            </div>
                        </li>
                    </ul>
                    <div class="clearfix"></div>
                </div>
            </div>
        </div>
        <!--//work-experience-->

        <div class="block p-0" id="block-sotd">
            <div class="inner">
                <div class="box-heading no-flex">
                    <div class="grid one-row">
                        <div class="col-3">
                            <div class="box-left">
                                <h2 class="title"><a href="/awards-of-the-day/">Sites of the day</a></h2>
                                <span>Previous Winners</span>
                            </div>
                        </div>
                        <div class="col-3 col-float-right">
                            <div class="box-sponsorship">
                                <h2 class="title">Mobile Excellence</h2> recognized by Google
                            </div>
                        </div>
                    </div>
                </div>
                <div class="grid js-grid">
                    <ul class="list-items list-flex list-one-row js-elements-container">


                        <li class="col-3 js-collectable" data-model="{&quot;likes&quot;:94,&quot;id&quot;:35056,&quot;images&quot;:{&quot;thumbnail&quot;:&quot;submissions\/2018\/12\/5c0dde09976f0.jpg&quot;},&quot;slug&quot;:&quot;sea-harvest&quot;,&quot;title&quot;:&quot;Sea Harvest&quot;,&quot;type&quot;:&quot;submission&quot;}">
                            <div class="box-item">
                                <figure class="rollover ">
                                    <a href="/sites/sea-harvest">
                                        <div class="box-photo">
                                            <img src="https://assets.awwwards.com/assets/images/nophoto.png"
                                                data-srcset="https://assets.awwwards.com/awards/media/cache/thumb_417_299/submissions/2018/12/5c0dde09976f0.jpg 1x, https://assets.awwwards.com/awards/media/cache/optimize/submissions/2018/12/5c0dde09976f0.jpg 2x"
                                                alt="Sea Harvest" width="417" height="298" class="lazy" />
                                        </div>
                                    </a>

                                    <div class="hover-item top">
                                        <span class="js-options-collectable"></span>


                                        <span class="bt-item bt-default bt-likeit js-bt-like js-collect-like ">
                                            <svg class="ico-svg" viewbox="0 0 15 14">
                                                <use xlink:href="https://www.awwwards.com/assets/images/sprite-icons.svg#heart"></use>
                                            </svg>

                                            <span class="number">
                                                94
                                            </span>
                                        </span>
                                        <strong class="bt-item bt-default js-collect">Collect</strong>

                                    </div>

                                    <div class="hover-item bottom">
                                        <a class="bt-item bt-link" href="https://www.seaharvest.net.au/" target="_blank"
                                            rel="noopener nofollow">
                                            <svg class="ico-svg" viewbox="0 0 22.24 14">
                                                <use xlink:href="https://www.awwwards.com/assets/images/sprite-icons.svg#link"></use>
                                            </svg>

                                        </a>
                                    </div>

                                </figure>


                                <div class="box-info">
                                    <div class="content">
                                        <div class="row">
                                            <h3><a href="/sites/sea-harvest">Sea Harvest</a></h3>
                                        </div>
                                        <div class="row row-2col">
                                            <div class="box-left">From Australia</div>

                                            <div class="box-right">
                                                December 18, 2018
                                            </div>
                                        </div>
                                    </div>
                                    <div class="footer style2">
                                        <div class="box-left">
                                            <div class="box-byuser js-tooltip-user">
                                                <div class="item js-user" data-username="ED.">
                                                    <a href="/ED./">
                                                        <img src="https://assets.awwwards.com/assets/images/nophoto.png"
                                                            data-src="https://assets.awwwards.com/awards/media/cache/thumb_user_70/avatar/415249/5817bb09c6794.png"
                                                            width="27" height="27" alt="ED." class="lazy" />
                                                    </a>
                                                </div>
                                                <div class="by">
                                                    by <strong><a href="/ED./">ED.</a></strong>
                                                </div>
                                            </div>

                                        </div>
                                        <div class="box-right">
                                            <ul class="list-tags size-small">
                                                <li class="hm">
                                                    <div class="tooltip">
                                                        <span class="item item-hm">HM</span>
                                                        <div class="box-tooltip">
                                                            <div class="tooltip-text">Honorable Mention</div>
                                                        </div>
                                                    </div>
                                                </li>
                                                <li class="dotd">
                                                    <div class="tooltip">
                                                        <span class="item item-dotd">DEV</span>
                                                        <div class="box-tooltip">
                                                            <div class="tooltip-text">Developer Site</div>
                                                        </div>
                                                    </div>
                                                </li>
                                                <li class="sotd">
                                                    <div class="tooltip">
                                                        <span class="item item-sotd">SOTD</span>
                                                        <div class="box-tooltip">
                                                            <div class="tooltip-text">Site Of The Day</div>
                                                        </div>
                                                    </div>
                                                </li>
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </li>




                        <li class="col-3 js-collectable" data-model="{&quot;likes&quot;:68,&quot;id&quot;:34977,&quot;images&quot;:{&quot;thumbnail&quot;:&quot;submissions\/2018\/12\/5c05d0ae1cc9c.jpg&quot;},&quot;slug&quot;:&quot;plume-and-the-forgotten-letter&quot;,&quot;title&quot;:&quot;Plume and the forgotten letter&quot;,&quot;type&quot;:&quot;submission&quot;}">
                            <div class="box-item">
                                <figure class="rollover ">
                                    <a href="/sites/plume-and-the-forgotten-letter">
                                        <div class="box-photo">
                                            <img src="https://assets.awwwards.com/assets/images/nophoto.png"
                                                data-srcset="https://assets.awwwards.com/awards/media/cache/thumb_417_299/submissions/2018/12/5c05d0ae1cc9c.jpg 1x, https://assets.awwwards.com/awards/media/cache/optimize/submissions/2018/12/5c05d0ae1cc9c.jpg 2x"
                                                alt="Plume and the forgotten letter" width="417" height="298"
                                                class="lazy" />
                                        </div>
                                    </a>

                                    <div class="hover-item top">
                                        <span class="js-options-collectable"></span>


                                        <span class="bt-item bt-default bt-likeit js-bt-like js-collect-like ">
                                            <svg class="ico-svg" viewbox="0 0 15 14">
                                                <use xlink:href="https://www.awwwards.com/assets/images/sprite-icons.svg#heart"></use>
                                            </svg>

                                            <span class="number">
                                                68
                                            </span>
                                        </span>
                                        <strong class="bt-item bt-default js-collect">Collect</strong>

                                    </div>

                                    <div class="hover-item bottom">
                                        <a class="bt-item bt-link" href="https://plumegame.com" target="_blank"
                                            rel="noopener nofollow">
                                            <svg class="ico-svg" viewbox="0 0 22.24 14">
                                                <use xlink:href="https://www.awwwards.com/assets/images/sprite-icons.svg#link"></use>
                                            </svg>

                                        </a>
                                    </div>

                                </figure>


                                <div class="box-info">
                                    <div class="content">
                                        <div class="row">
                                            <h3><a href="/sites/plume-and-the-forgotten-letter">Plume and the
                                                    forgotten letter</a></h3>
                                        </div>
                                        <div class="row row-2col">
                                            <div class="box-left">From France</div>

                                            <div class="box-right">
                                                December 17, 2018
                                            </div>
                                        </div>
                                    </div>
                                    <div class="footer style2">
                                        <div class="box-left">
                                            <div class="box-byuser js-tooltip-user">
                                                <div class="item js-user" data-username="dino_collective">
                                                    <a href="/dino_collective/">
                                                        <img src="https://assets.awwwards.com/assets/images/nophoto.png"
                                                            data-src="https://assets.awwwards.com/awards/media/cache/thumb_user_70/avatar/611871/5c059908a2675.png"
                                                            width="27" height="27" alt="Dino Collective" class="lazy" />
                                                    </a>
                                                </div>
                                                <div class="by">
                                                    by <strong><a href="/dino_collective/">Dino Collective</a></strong>
                                                </div>
                                            </div>

                                        </div>
                                        <div class="box-right">
                                            <ul class="list-tags size-small">
                                                <li class="hm">
                                                    <div class="tooltip">
                                                        <span class="item item-hm">HM</span>
                                                        <div class="box-tooltip">
                                                            <div class="tooltip-text">Honorable Mention</div>
                                                        </div>
                                                    </div>
                                                </li>
                                                <li class="sotd">
                                                    <div class="tooltip">
                                                        <span class="item item-sotd">SOTD</span>
                                                        <div class="box-tooltip">
                                                            <div class="tooltip-text">Site Of The Day</div>
                                                        </div>
                                                    </div>
                                                </li>
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </li>




                        <li class="col-3 js-collectable" data-model="{&quot;likes&quot;:79,&quot;id&quot;:35007,&quot;images&quot;:{&quot;thumbnail&quot;:&quot;submissions\/2018\/12\/5c07ff1822217.jpg&quot;},&quot;slug&quot;:&quot;10x18&quot;,&quot;title&quot;:&quot;10x18&quot;,&quot;type&quot;:&quot;submission&quot;}">
                            <div class="box-item">
                                <figure class="rollover ">
                                    <a href="/sites/10x18">
                                        <div class="box-photo">
                                            <img src="https://assets.awwwards.com/assets/images/nophoto.png"
                                                data-srcset="https://assets.awwwards.com/awards/media/cache/thumb_417_299/submissions/2018/12/5c07ff1822217.jpg 1x, https://assets.awwwards.com/awards/media/cache/optimize/submissions/2018/12/5c07ff1822217.jpg 2x"
                                                alt="10x18" width="417" height="298" class="lazy" />
                                        </div>
                                    </a>

                                    <div class="hover-item top">
                                        <span class="js-options-collectable"></span>


                                        <span class="bt-item bt-default bt-likeit js-bt-like js-collect-like ">
                                            <svg class="ico-svg" viewbox="0 0 15 14">
                                                <use xlink:href="https://www.awwwards.com/assets/images/sprite-icons.svg#heart"></use>
                                            </svg>

                                            <span class="number">
                                                79
                                            </span>
                                        </span>
                                        <strong class="bt-item bt-default js-collect">Collect</strong>

                                    </div>

                                    <div class="hover-item bottom">
                                        <a class="bt-item bt-link" href="http://10x18.co" target="_blank" rel="noopener nofollow">
                                            <svg class="ico-svg" viewbox="0 0 22.24 14">
                                                <use xlink:href="https://www.awwwards.com/assets/images/sprite-icons.svg#link"></use>
                                            </svg>

                                        </a>
                                    </div>

                                </figure>


                                <div class="box-info">
                                    <div class="content">
                                        <div class="row">
                                            <h3><a href="/sites/10x18">10x18</a></h3>
                                        </div>
                                        <div class="row row-2col">
                                            <div class="box-left">From United States</div>

                                            <div class="box-right">
                                                December 16, 2018
                                            </div>
                                        </div>
                                    </div>
                                    <div class="footer style2">
                                        <div class="box-left">
                                            <div class="box-byuser js-tooltip-user">
                                                <div class="item js-user" data-username="joeymaese">
                                                    <a href="/joeymaese/">
                                                        <img src="https://assets.awwwards.com/assets/images/nophoto.png"
                                                            data-src="https://assets.awwwards.com/awards/media/cache/thumb_user_70/avatar/57911/5095677b109ef.jpeg"
                                                            width="27" height="27" alt="Joey Maese" class="lazy" />
                                                    </a>
                                                </div>
                                                <div class="by">
                                                    by <strong><a href="/joeymaese/">Joey Maese</a></strong>
                                                </div>
                                            </div>

                                        </div>
                                        <div class="box-right">
                                            <ul class="list-tags size-small">
                                                <li class="hm">
                                                    <div class="tooltip">
                                                        <span class="item item-hm">HM</span>
                                                        <div class="box-tooltip">
                                                            <div class="tooltip-text">Honorable Mention</div>
                                                        </div>
                                                    </div>
                                                </li>
                                                <li class="dotd">
                                                    <div class="tooltip">
                                                        <span class="item item-dotd">DEV</span>
                                                        <div class="box-tooltip">
                                                            <div class="tooltip-text">Developer Site</div>
                                                        </div>
                                                    </div>
                                                </li>
                                                <li class="sotd">
                                                    <div class="tooltip">
                                                        <span class="item item-sotd">SOTD</span>
                                                        <div class="box-tooltip">
                                                            <div class="tooltip-text">Site Of The Day</div>
                                                        </div>
                                                    </div>
                                                </li>
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </li>




                        <li class="col-3 js-collectable" data-model="{&quot;likes&quot;:26,&quot;id&quot;:34995,&quot;images&quot;:{&quot;thumbnail&quot;:&quot;submissions\/2018\/12\/5c06cb349575c.png&quot;},&quot;slug&quot;:&quot;rondesign-agency&quot;,&quot;title&quot;:&quot;Rondesign Agency&quot;,&quot;type&quot;:&quot;submission&quot;}">
                            <div class="box-item">
                                <figure class="rollover ">
                                    <a href="/mobile-sites/rondesign-agency">
                                        <div class="box-photo">
                                            <img src="https://assets.awwwards.com/assets/images/nophoto.png"
                                                data-srcset="https://assets.awwwards.com/awards/media/cache/thumb_417_299/submissions/2018/12/5c1a308b41938.jpg 1x, https://assets.awwwards.com/awards/media/cache/optimize/submissions/2018/12/5c1a308b41938.jpg 2x"
                                                alt="Rondesign Agency" width="417" height="298" class="lazy" />
                                        </div>
                                        <div class="ribbon ribbon-mobile-week"></div>
                                    </a>

                                    <div class="hover-item top">
                                        <span class="js-options-collectable"></span>


                                        <span class="bt-item bt-default bt-likeit js-bt-like js-collect-like ">
                                            <svg class="ico-svg" viewbox="0 0 15 14">
                                                <use xlink:href="https://www.awwwards.com/assets/images/sprite-icons.svg#heart"></use>
                                            </svg>

                                            <span class="number">
                                                26
                                            </span>
                                        </span>
                                        <strong class="bt-item bt-default js-collect">Collect</strong>

                                    </div>

                                    <div class="hover-item bottom">
                                        <a class="bt-item bt-link" href="https://rondesignlab.com/" target="_blank"
                                            rel="noopener nofollow">
                                            <svg class="ico-svg" viewbox="0 0 22.24 14">
                                                <use xlink:href="https://www.awwwards.com/assets/images/sprite-icons.svg#link"></use>
                                            </svg>

                                        </a>
                                    </div>

                                </figure>


                                <div class="box-info">
                                    <div class="content">
                                        <div class="row">
                                            <h3><a href="/mobile-sites/rondesign-agency">Rondesign Agency</a></h3>
                                        </div>
                                        <div class="row row-2col">
                                            <div class="box-left">From Poland</div>

                                            <div class="box-right">
                                                December 19, 2018
                                            </div>
                                        </div>
                                    </div>
                                    <div class="footer style2">
                                        <div class="box-left">
                                            <div class="box-byuser js-tooltip-user">
                                                <div class="item js-user" data-username="evgeniy-ron">
                                                    <a href="/evgeniy-ron/">
                                                        <img src="https://assets.awwwards.com/assets/images/nophoto.png"
                                                            data-src="https://assets.awwwards.com/awards/media/cache/thumb_user_70/avatar/319498/5518140d77b7b.png"
                                                            width="27" height="27" alt="Ron E." class="lazy" />
                                                    </a>
                                                </div>
                                                <div class="by">
                                                    by <strong><a href="/evgeniy-ron/">Ron E.</a></strong>
                                                </div>
                                            </div>

                                        </div>
                                        <div class="box-right">
                                            <ul class="list-tags size-small">
                                                <li class="hm">
                                                    <div class="tooltip">
                                                        <span class="item item-hm">HM</span>
                                                        <div class="box-tooltip">
                                                            <div class="tooltip-text">Honorable Mention</div>
                                                        </div>
                                                    </div>
                                                </li>
                                                <li class="motw">
                                                    <div class="tooltip">
                                                        <span class="item item-motw">MW</span>
                                                        <div class="box-tooltip">
                                                            <div class="tooltip-text">Mobile Of The Week</div>
                                                        </div>
                                                    </div>
                                                </li>
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </li>

                    </ul>
                </div>
            </div>
        </div>
        <!-- portfolio -->

        
        <!-- //portfolio -->
        <!-- top-grids -->
        <!--<div class="blog" id="blogs">
            <div class="container">
                <div class="service-head text-center">
                    <h4>BLOGS</h4>
                    <h3>MY <span>BLOGS</span></h3>
                    <span class="border one"></span>
                </div>
                <div class="news-grid w3l-agile">
                    <div class="col-md-6 news-img">
                        <a href="#" data-toggle="modal" data-target="#myModal1"> <img src="{{ url_for('static', filename = 'images/b1.jpg') }}"
                                alt=" " class="img-responsive"></a>

                    </div>
                    <div class="col-md-6 news-text">
                        <h3> <a href="#" data-toggle="modal" data-target="#myModal1">HERE GOES AN AWESOME BLOG TITLE</a></h3>
                        <ul class="news">
                            <li><i class="glyphicon glyphicon-user"></i> <a href="#">Admin</a></li>
                            <li><i class="glyphicon glyphicon-comment"></i> <a href="#">2 Comments</a></li>
                            <li><i class="glyphicon glyphicon-heart"></i> <a href="#">50 Likes</a></li>
                            <li><i class="glyphicon glyphicon-tags"></i> <a href="#">3 Tags</a></li>
                        </ul>
                        <p>Itaque earum rerum hic tenetur a sapiente delectus, ut aut reiciendis voluptatibus maiores
                            alias consequatur aut perferendis doloribus asperiores repellat. Neque porro quisquam est,
                            qui dolorem ipsum quia dolor sit amet.</p>
                        <a href="#" data-toggle="modal" data-target="#myModal1" class="read hvr-shutter-in-horizontal">Read
                            More</a>

                    </div>

                    <div class="clearfix"></div>
                </div>
                <div class="news-grid">

                    <div class="col-md-6 news-text two">
                        <h3> <a href="#" data-toggle="modal" data-target="#myModal1">HERE GOES AN AWESOME BLOG TITLE</a></h3>
                        <ul class="news">
                            <li><i class="glyphicon glyphicon-user"></i> <a href="#">Admin</a></li>
                            <li><i class="glyphicon glyphicon-comment"></i> <a href="#">2 Comments</a></li>
                            <li><i class="glyphicon glyphicon-heart"></i> <a href="#">50 Likes</a></li>
                            <li><i class="glyphicon glyphicon-tags"></i> <a href="#">3 Tags</a></li>
                        </ul>
                        <p>Itaque earum rerum hic tenetur a sapiente delectus, ut aut reiciendis voluptatibus maiores
                            alias consequatur aut perferendis doloribus asperiores repellat. Neque porro quisquam est,
                            qui dolorem ipsum quia dolor sit amet.</p>
                        <a href="#" data-toggle="modal" data-target="#myModal1" class="read hvr-shutter-in-horizontal">Read
                            More</a>

                    </div>
                    <div class="col-md-6 news-img two">
                        <a href="#" data-toggle="modal" data-target="#myModal1"> <img src="{{ url_for('static', filename = 'images/b2.jpg') }}"
                                alt=" " class="img-responsive"></a>

                    </div>
                    <div class="clearfix"></div>
                </div>
                <div class="news-grid">
                    <div class="col-md-6 news-img">
                        <a href="#" data-toggle="modal" data-target="#myModal1"> <img src="{{ url_for('static', filename = 'images/b3.jpg') }}"
                                alt=" " class="img-responsive"></a>

                    </div>
                    <div class="col-md-6 news-text">
                        <h3> <a href="#" data-toggle="modal" data-target="#myModal1">HERE GOES AN AWESOME BLOG TITLE</a></h3>
                        <ul class="news">
                            <li><i class="glyphicon glyphicon-user"></i> <a href="#">Admin</a></li>
                            <li><i class="glyphicon glyphicon-comment"></i> <a href="#">2 Comments</a></li>
                            <li><i class="glyphicon glyphicon-heart"></i> <a href="#">50 Likes</a></li>
                            <li><i class="glyphicon glyphicon-tags"></i> <a href="#">3 Tags</a></li>
                        </ul>
                        <p>Itaque earum rerum hic tenetur a sapiente delectus, ut aut reiciendis voluptatibus maiores
                            alias consequatur aut perferendis doloribus asperiores repellat. Neque porro quisquam est,
                            qui dolorem ipsum quia dolor sit amet.</p>
                        <a href="#" data-toggle="modal" data-target="#myModal1" class="read hvr-shutter-in-horizontal">Read
                            More</a>

                    </div>

                    <div class="clearfix"></div>
                </div>
            </div>
        </div>
    -->
        <!-- top-grids -->
        <!-- /blog-pop-->
        <!-- //blog-pop-->

        <!-- /header -->
        <div class="footer" id="contact">
            <div class="container">
                <div class="service-head one text-center">
                    <h4>CONTACT ME</h4>
                    <h3>GET <span>IN TOUCH WITH ME</span></h3>
                    <span class="border two"></span>
                </div>
                <div class="mail_us">
                    <div class="col-md-6 mail_left">
                        <div class="contact-grid1-left">
                            <div class="contact-grid1-left1">
                                <span class="glyphicon glyphicon-envelope" aria-hidden="true"></span>
                                <h4>Contact By Email</h4>
                                <ul>
                                    <li>School: <a href="mailto:aasotoodeh@cpp.edu">aasotoodeh@cpp.edu</a></li>
                                    <li>Personal: <a href="mailto:excisionhd1@gmail.com">excisionhd1@gmail.com</a></li>
                                </ul>
                            </div>
                        </div>
                        <div class="contact-grid1-left">
                            <div class="contact-grid1-left1">
                                <span class="glyphicon glyphicon-earphone" aria-hidden="true"></span>
                                <h4>Contact By Phone</h4>
                                <ul>
                                    <li>Mobile: (626) 361 - 8141</li>
                                    <li>Alternate: (626) 378 - 4017</li>
                                </ul>
                            </div>
                        </div>
                        <div class="clearfix"> </div>
                    </div>

                    <div class="clearfix"></div>
                </div>
                <div class="text-center">
                    <ul class="social-icons two">
                        <li><a href="#" class = "fa fa-github"> </a></li>
                        <li><a href="#" class="fa fa-linkedin"> </a></li>
                    </ul>
                </div>
            </div>
        </div>
        <!-- //footer -->
        
        <a href="#home" id="toTop" style="display: block;"> <span id="toTopHover" style="opacity: 1;"> </span></a>
        <!--start-smooth-scrolling-->
        <script type="text/javascript">
            $(document).ready(function () {
                /*
                var defaults = {
                        containerID: 'toTop', // fading element id
                    containerHoverID: 'toTopHover', // fading element hover id
                    scrollSpeed: 1200,
                    easingType: 'linear' 
                    };
                */

                    /* TODO: FIX EASE TO TOP */
                /*$(document).UItoTop({ easingType: 'easeOutQuart' });*/

            });
        </script>
        <!--end-smooth-scrolling-->
        <!-- //for bootstrap working -->
        <script src="{{ url_for('static', filename = 'js/bootstrap.js') }}"></script>


    </body>

</html>
