<!DOCTYPE HTML>
<html>

<head>
    <title>My Portfolio</title>

    <!-- Optional theme -->
    <link href="{{ url_for('static', filename = 'styles/bootstrap.css') }}" rel="stylesheet">
    <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
    <script src="{{ url_for('static', filename = 'js/jquery.min.js') }}"></script>
    <!-- Custom Theme files -->
    <link href="{{ url_for('static', filename = 'styles/style.css') }}" rel='stylesheet' type='text/css' />
    <!-- Custom Theme files -->
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <!-- webfonts -->
    <link href='//fonts.googleapis.com/css?family=Asap:400,700,400italic' rel='stylesheet' type='text/css'>
    <link href='//fonts.googleapis.com/css?family=Open+Sans:400,300,600' rel='stylesheet' type='text/css'>
    <!-- webfonts -->


    <!-- Latest compiled and minified JavaScript -->
    <script src="{{ url_for('static', filename = 'js/bootstrap.js') }}" crossorigin="anonymous"></script>
    <!---- start-smoth-scrolling---->
    <script type="text/javascript" src="{{ url_for('static', filename = 'js/move-top.js') }}"></script>
    <script type="text/javascript" src="{{ url_for('static', filename = 'js/easing.js') }}"></script>
    <script type="text/javascript">
        jQuery(document).ready(function ($) {
            $(".scroll").click(function (event) {
                event.preventDefault();
                $('html,body').animate({ scrollTop: $(this.hash).offset().top }, 1000);
            });
        });
    </script>
</head>

<body>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>

    <body>
        <!-- container -->
        <!-- header -->
        <div id="home" class="header">
            <div class="container">
                <!-- top-hedader -->
                <div class="top-header">
                    <!-- /logo -->
                    <!--top-nav---->
                    <div class="top-nav">
                        <div class="navigation">
                            <div class="logo">
                                <h1><a href="index.html"><span>P</span>REFACE</a></h1>
                            </div>
                            <div class="navigation-right">
                                <span class="menu"><img src="{{ url_for('static', filename = 'images/menu.png') }}" alt=" " /></span>
                                <nav class="link-effect-3" id="link-effect-3">
                                    <ul class="nav1 nav nav-wil">
                                        <li class="active"><a data-hover="Home" href="index.html">Home</a></li>
                                        <li><a class="scroll" data-hover="About" href="#about">About</a></li>
                                        <li><a class="scroll" data-hover="Services" href="#services">Services</a></li>
                                        <li><a class="scroll" data-hover="Experience" href="#work">Experience</a></li>
                                        <li><a data-hover="Projects" href="/projects/facial_recognition">Projects</a></li>
                                        <li><a class="scroll" data-hover="Contact" href="#contact">Contact</a></li>
                                    </ul>
                                </nav>
                                <!-- script-for-menu -->
                                <script>
                                    $("span.menu").click(function () {
                                        $("ul.nav1").slideToggle(300, function () {
                                            // Animation complete.
                                        });
                                    });
                                </script>
                                <!-- /script-for-menu -->
                            </div>
                            <div class="clearfix"></div>
                        </div>
                        <!-- /top-hedader -->
                    </div>
                    <div class="banner-info">
                        <div class="col-md-7 header-right">
                            <h5>SOFTWARE DEVELOPER </h5>
                            <h6>FULL TIME STUDENT</h6>
                            <ul class="address">

                                <li>
                                    <ul class="address-text">
                                        <li><b>NAME</b></li>
                                        <li>Amir Sotoodeh</li>
                                    </ul>
                                </li>
                                <li>
                                    <ul class="address-text">
                                        <li><b>PHONE </b></li>
                                        <li>(626) 361 - 8141</li>
                                    </ul>
                                </li>
                                <li>
                                    <ul class="address-text">
                                        <li><b>LOCATION </b></li>
                                        <li>Los Angeles, CA</li>
                                    </ul>
                                </li>
                                <li>
                                    <ul class="address-text">
                                        <li><b>E-MAIL </b></li>
                                        <li><a href="mailto:aasotoodeh@cpp.edu"> aasotoodeh@cpp.edu</a></li>
                                    </ul>
                                </li>
                                <li>
                                    <ul class="address-text">
                                        <li><b>GITHUB </b></li>
                                        <li><a href="https://github.com/excisionhd">github.com/excisionhd</a></li>
                                    </ul>
                                </li>
                                <li>
                                    <ul class="address-text">
                                        <li><b>LINKEDIN </b></li>
                                        <li><a href="www.linkedin.com/in/amir-sotoodeh">linkedin.com/in/amir-sotoodeh</a></li>
                                    </ul>
                                </li>
                                <br />

                            </ul>
                        </div>
                        <div class="col-md-5 header-left">
                            <img id='headshot' src="{{ url_for('static', filename = 'images/img1.jpg') }}" alt="">
                        </div>
                        <div class="clearfix"> </div>

                    </div>
                </div>
            </div>
        </div>
        <!-- about -->
        <div id="about" class="about">
            <div class="col-md-6 about-left">
                <div>
                    <div class="item">
                        <div class="about-left-grid">
                            <h2>Hi! I'm <span>Amir Sotoodeh</span></h2>
                            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor
                                incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud
                                exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure
                                dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur.
                                Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt
                                mollit anim id est laborum. Sed ut perspiciatis.</p>
                            <ul>
                                <li><a class="a-btn-a scroll" href="#port">My Work</a></li>
                                <li><a class="a-btn-h scroll" href="#contact">Hire Me</a></li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="clearfix"> </div>
        </div>
        <!-- /about -->
        <!-- services -->
        <div id="services" class="services">
            <div class="container">
                <!---728x90--->

                <div class="service-head one text-center ">
                    <h4>WHAT I DO</h4>
                    <h3>MY <span>SERVICES</span></h3>
                    <span class="border two"></span>
                </div>
                <!-- services-grids -->
                <div class="wthree_about_right_grids w3l-agile">
                    <div class="col-md-6 wthree_about_right_grid">
                        <div class="col-xs-4 wthree_about_right_grid_left">
                            <div class="hvr-rectangle-in">
                                <i class="glyphicon glyphicon-pencil"></i>
                            </div>
                        </div>
                        <div class="col-xs-8 wthree_about_right_grid_right">
                            <h4>Web Design</h4>
                            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor
                                incididunt ut labore et dolore magna aliqua. Ut enim.</p>
                        </div>
                        <div class="clearfix"> </div>
                    </div>
                    <div class="col-md-6 wthree_about_right_grid">
                        <div class="col-xs-4 wthree_about_right_grid_left">
                            <div class="hvr-rectangle-in">
                                <i class="glyphicon glyphicon-cog"></i>
                            </div>
                        </div>
                        <div class="col-xs-8 wthree_about_right_grid_right">
                            <h4>Web Design</h4>
                            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor
                                incididunt ut labore et dolore magna aliqua. Ut enim.</p>
                        </div>
                        <div class="clearfix"> </div>
                    </div>
                    <div class="col-md-6 wthree_about_right_grid">
                        <div class="col-xs-4 wthree_about_right_grid_left">
                            <div class="hvr-rectangle-in">
                                <i class="glyphicon glyphicon-leaf"></i>
                            </div>
                        </div>
                        <div class="col-xs-8 wthree_about_right_grid_right">
                            <h4>Web Design</h4>
                            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor
                                incididunt ut labore et dolore magna aliqua. Ut enim.</p>
                        </div>
                        <div class="clearfix"> </div>
                    </div>
                    <div class="col-md-6 wthree_about_right_grid">
                        <div class="col-xs-4 wthree_about_right_grid_left">
                            <div class="hvr-rectangle-in">
                                <i class="glyphicon glyphicon-gift"></i>
                            </div>
                        </div>
                        <div class="col-xs-8 wthree_about_right_grid_right">
                            <h4>Web Design</h4>
                            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor
                                incididunt ut labore et dolore magna aliqua. Ut enim.</p>
                        </div>
                        <div class="clearfix"> </div>
                    </div>
                    <div class="clearfix"> </div>
                </div>

                <!-- services-grids -->
                <!---728x90--->

            </div>
        </div>
        <!-- services -->
        <!--work-experience-->
        <div id="work" class="work">
            <div class="container">
                <div class="service-head text-center">
                    <h4>WHAT I DID</h4>
                    <h3>MY <span>EXPERIENCE</span></h3>
                    <span class="border one"></span>
                </div>
                <div class="time-main w3l-agile">
                    <div class="col-md-6 year-info">
                        <ul class="year">
                            <li>2016</li>
                            <li>2015</li>
                            <li>2014</li>
                            <li>2013</li>
                            <li>2012</li>
                            <div class="clearfix"></div>
                        </ul>
                    </div>
                    <ul class="col-md-6 timeline">
                        <li>
                            <div class="timeline-badge info"><i class="glyphicon glyphicon-briefcase"></i></div>
                            <div class="timeline-panel">
                                <div class="timeline-heading">
                                    <h4 class="timeline-title">COMPANY NAME</h4>
                                </div>
                                <div class="timeline-body">
                                    <p>Lorem ipsum dolor sit amet.Itaque earum rerum hic tenetur a sapiente delectus,
                                        ut aut reiciendis voluptatibus maiores alias consequatur aut perferendis
                                        doloribus </p>
                                </div>
                            </div>
                        </li>

                        <li>
                            <div class="timeline-badge primary"><i class="glyphicon glyphicon-briefcase"></i></div>
                            <div class="timeline-panel">
                                <div class="timeline-heading">
                                    <h4 class="timeline-title">COMPANY NAME</h4>
                                </div>
                                <div class="timeline-body">
                                    <p>Lorem ipsum dolor sit amet.Itaque earum rerum hic tenetur a sapiente delectus,
                                        ut aut reiciendis voluptatibus maiores alias consequatur aut perferendis
                                        doloribus </p>
                                </div>
                            </div>
                        </li>



                        <li>
                            <div class="timeline-badge danger"><i class="glyphicon glyphicon-briefcase"></i></div>
                            <div class="timeline-panel">
                                <div class="timeline-heading">
                                    <h4 class="timeline-title">COMPANY NAME</h4>
                                </div>
                                <div class="timeline-body">
                                    <p>Lorem ipsum dolor sit amet.Itaque earum rerum hic tenetur a sapiente delectus,
                                        ut aut reiciendis voluptatibus maiores alias consequatur aut perferendis
                                        doloribus </p>
                                </div>
                            </div>
                        </li>

                        <li>
                            <div class="timeline-badge success"><i class="glyphicon glyphicon-briefcase"></i></div>
                            <div class="timeline-panel">
                                <div class="timeline-heading">
                                    <h4 class="timeline-title">COMPANY NAME</h4>
                                </div>
                                <div class="timeline-body">
                                    <p>Lorem ipsum dolor sit amet.Itaque earum rerum hic tenetur a sapiente delectus,
                                        ut aut reiciendis voluptatibus maiores alias consequatur aut perferendis
                                        doloribus </p>
                                </div>
                            </div>
                        </li>
                        <li>
                            <div class="timeline-badge pass"><i class="glyphicon glyphicon-briefcase"></i></div>
                            <div class="timeline-panel">
                                <div class="timeline-heading">
                                    <h4 class="timeline-title">COMPANY NAME</h4>
                                </div>
                                <div class="timeline-body">
                                    <p>Lorem ipsum dolor sit amet.Itaque earum rerum hic tenetur a sapiente delectus,
                                        ut aut reiciendis voluptatibus maiores alias consequatur aut perferendis
                                        doloribus </p>
                                </div>
                            </div>
                        </li>
                    </ul>
                    <div class="clearfix"></div>
                </div>
            </div>
        </div>
        <!--//work-experience-->

        <!-- portfolio -->

        
        <!-- //portfolio -->
        <!-- top-grids -->
        <!--<div class="blog" id="blogs">
            <div class="container">
                <div class="service-head text-center">
                    <h4>BLOGS</h4>
                    <h3>MY <span>BLOGS</span></h3>
                    <span class="border one"></span>
                </div>
                <div class="news-grid w3l-agile">
                    <div class="col-md-6 news-img">
                        <a href="#" data-toggle="modal" data-target="#myModal1"> <img src="{{ url_for('static', filename = 'images/b1.jpg') }}"
                                alt=" " class="img-responsive"></a>

                    </div>
                    <div class="col-md-6 news-text">
                        <h3> <a href="#" data-toggle="modal" data-target="#myModal1">HERE GOES AN AWESOME BLOG TITLE</a></h3>
                        <ul class="news">
                            <li><i class="glyphicon glyphicon-user"></i> <a href="#">Admin</a></li>
                            <li><i class="glyphicon glyphicon-comment"></i> <a href="#">2 Comments</a></li>
                            <li><i class="glyphicon glyphicon-heart"></i> <a href="#">50 Likes</a></li>
                            <li><i class="glyphicon glyphicon-tags"></i> <a href="#">3 Tags</a></li>
                        </ul>
                        <p>Itaque earum rerum hic tenetur a sapiente delectus, ut aut reiciendis voluptatibus maiores
                            alias consequatur aut perferendis doloribus asperiores repellat. Neque porro quisquam est,
                            qui dolorem ipsum quia dolor sit amet.</p>
                        <a href="#" data-toggle="modal" data-target="#myModal1" class="read hvr-shutter-in-horizontal">Read
                            More</a>

                    </div>

                    <div class="clearfix"></div>
                </div>
                <div class="news-grid">

                    <div class="col-md-6 news-text two">
                        <h3> <a href="#" data-toggle="modal" data-target="#myModal1">HERE GOES AN AWESOME BLOG TITLE</a></h3>
                        <ul class="news">
                            <li><i class="glyphicon glyphicon-user"></i> <a href="#">Admin</a></li>
                            <li><i class="glyphicon glyphicon-comment"></i> <a href="#">2 Comments</a></li>
                            <li><i class="glyphicon glyphicon-heart"></i> <a href="#">50 Likes</a></li>
                            <li><i class="glyphicon glyphicon-tags"></i> <a href="#">3 Tags</a></li>
                        </ul>
                        <p>Itaque earum rerum hic tenetur a sapiente delectus, ut aut reiciendis voluptatibus maiores
                            alias consequatur aut perferendis doloribus asperiores repellat. Neque porro quisquam est,
                            qui dolorem ipsum quia dolor sit amet.</p>
                        <a href="#" data-toggle="modal" data-target="#myModal1" class="read hvr-shutter-in-horizontal">Read
                            More</a>

                    </div>
                    <div class="col-md-6 news-img two">
                        <a href="#" data-toggle="modal" data-target="#myModal1"> <img src="{{ url_for('static', filename = 'images/b2.jpg') }}"
                                alt=" " class="img-responsive"></a>

                    </div>
                    <div class="clearfix"></div>
                </div>
                <div class="news-grid">
                    <div class="col-md-6 news-img">
                        <a href="#" data-toggle="modal" data-target="#myModal1"> <img src="{{ url_for('static', filename = 'images/b3.jpg') }}"
                                alt=" " class="img-responsive"></a>

                    </div>
                    <div class="col-md-6 news-text">
                        <h3> <a href="#" data-toggle="modal" data-target="#myModal1">HERE GOES AN AWESOME BLOG TITLE</a></h3>
                        <ul class="news">
                            <li><i class="glyphicon glyphicon-user"></i> <a href="#">Admin</a></li>
                            <li><i class="glyphicon glyphicon-comment"></i> <a href="#">2 Comments</a></li>
                            <li><i class="glyphicon glyphicon-heart"></i> <a href="#">50 Likes</a></li>
                            <li><i class="glyphicon glyphicon-tags"></i> <a href="#">3 Tags</a></li>
                        </ul>
                        <p>Itaque earum rerum hic tenetur a sapiente delectus, ut aut reiciendis voluptatibus maiores
                            alias consequatur aut perferendis doloribus asperiores repellat. Neque porro quisquam est,
                            qui dolorem ipsum quia dolor sit amet.</p>
                        <a href="#" data-toggle="modal" data-target="#myModal1" class="read hvr-shutter-in-horizontal">Read
                            More</a>

                    </div>

                    <div class="clearfix"></div>
                </div>
            </div>
        </div>
    -->
        <!-- top-grids -->
        <!-- /blog-pop-->
        <div class="modal ab fade" id="myModal1" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
            <div class="modal-dialog about" role="document">
                <div class="modal-content about">
                    <div class="modal-header">
                        <button type="button" class="close ab" data-dismiss="modal" aria-label="Close"><span
                                aria-hidden="true">&times;</span></button>
                    </div>
                    <div class="modal-body about">
                        <div class="about">

                            <div class="about-inner">

                                <img src="{{ url_for('static', filename = 'images/b3.jpg') }}" alt="about" />
                                <h4 class="tittle">A Fews words about us</h4>
                                <p>Lorem ipsum dolor sit amet Integer gravida,Lorem ipsum dolor sit amet Integer
                                    gravida velit,Ming sits in the corner the whole day. She's into crochet. quis dolor
                                    tristiqumsan.Mirum est notare quam littera gothica, quam nunc putamus parum claram,
                                    anteposuerit litterarum formas humanitatis per seacula quarta decima et quinta
                                    decima. velit quis dolor tristiqumsan.</p>
                                <p>Lorem ipsum dolor sit amet. Integer gravida velit quis dolor
                                    tristiqumsan.anteposuerit litterarum formas humanitatis per seacula amet Integer
                                    gravida velit. </p>
                            </div>

                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- //blog-pop-->

        <!-- /header -->
        <div class="footer" id="contact">
            <div class="container">
                <div class="service-head one text-center">
                    <h4>CONTACT ME</h4>
                    <h3>GET <span>IN TOUCH WITH ME</span></h3>
                    <span class="border two"></span>
                </div>
                <div class="mail_us">
                    <div class="col-md-6 mail_left">
                        <div class="contact-grid1-left">
                            <div class="contact-grid1-left1">
                                <span class="glyphicon glyphicon-envelope" aria-hidden="true"></span>
                                <h4>Contact By Email</h4>
                                <ul>
                                    <li>School: <a href="mailto:aasotoodeh@cpp.edu">aasotoodeh@cpp.edu</a></li>
                                    <li>Personal: <a href="mailto:excisionhd1@gmail.com">excisionhd1@gmail.com</a></li>
                                </ul>
                            </div>
                        </div>
                        <div class="contact-grid1-left">
                            <div class="contact-grid1-left1">
                                <span class="glyphicon glyphicon-earphone" aria-hidden="true"></span>
                                <h4>Contact By Phone</h4>
                                <ul>
                                    <li>Mobile: (626) 361 - 8141</li>
                                    <li>Alternate: (626) 378 - 4017</li>
                                </ul>
                            </div>
                        </div>
                        <div class="clearfix"> </div>
                    </div>

                    <div class="clearfix"></div>
                </div>
                <div class="copy_right text-center">
                    <ul class="social-icons two">
                        <li><a href="#" class = "fa fa-linkedin"> </a></li>
                        <li><a href="#" class="fb"> </a></li>
                        <li><a href="#" class="in"> </a></li>
                        <li><a href="#" class="dott"> </a></li>
                    </ul>
                </div>
            </div>
        </div>
        <!-- //footer -->
        
        <a href="#home" id="toTop" style="display: block;"> <span id="toTopHover" style="opacity: 1;"> </span></a>
        <!--start-smooth-scrolling-->
        <script type="text/javascript">
            $(document).ready(function () {
                /*
                var defaults = {
                        containerID: 'toTop', // fading element id
                    containerHoverID: 'toTopHover', // fading element hover id
                    scrollSpeed: 1200,
                    easingType: 'linear' 
                    };
                */

                $().UItoTop({ easingType: 'easeOutQuart' });

            });
        </script>
        <!--end-smooth-scrolling-->
        <!-- //for bootstrap working -->
        <script src="{{ url_for('static', filename = 'js/bootstrap.js') }}"></script>


    </body>

</html>
